doctype html
html
  head
    title Search Results: Gadgets
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    h1 Search Results: Gadgets

    //- Define the hard-coded array of gadgets
    -
      let results = [
        { gadget_name: 'Smartwatch', price: 199, functionality: 'Fitness Tracking' },
        { gadget_name: 'VR Headset', price: 299, functionality: 'Virtual Reality Experience' },
        { gadget_name: 'Drone', price: 499, functionality: 'Aerial Photography' }
      ];

    //- Set up the Bootstrap container and row
    .container-fluid
      .row
        each gadget in results
          .col-sm-2
            h3 #{gadget.gadget_name}
            p Price: $#{gadget.price}
            p Functionality: #{gadget.functionality}
